$topic_color:red;

body,ul,li{
    background: white;
    padding:0;
    margin:0;
}

body{
    background: black;
    color:white;
}

h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    margin: 0;
    padding-left:100px;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    border-bottom:1px solid #d9d9d9;
}

h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:40px;
    margin: 12px 0;
    padding-left: 20px;
    border-left: 3px solid red;
    font-size: 24px;
}

.form{
    width: 100%;
    padding:80px 100px 0 100px; 
}

.form_items{

}

.form_items>li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form_items>li>div:first-child{
    width:120px;
    flex:none;
}

.form_items>li>div{
    flex:1;
}